<div class="login-container">
  <h2>Login Page</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <!-- Email Input -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="error"
      >
        Valid email is required.
      </div>
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="error"
      >
        Password must be at least 6 characters long.
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>

    <!-- Navigate to Signup Button -->
    <button type="button" class="btn btn-link" (click)="navigateToSignup()">
      Don't have an account? Sign Up
    </button>
  </form>
</div>
