<!-- parent.component.html -->
<div class="space">
  <h2>FORM</h2>
  <form (ngSubmit)="savePerson()">
    <input
      [(ngModel)]="newPerson.name"
      name="name"
      placeholder="Name"
      required
    />
    <input
      [(ngModel)]="newPerson.email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      [(ngModel)]="newPerson.phoneNumber"
      name="phoneNumber"
      placeholder="Phone Number"
      required
    />
    <button type="submit">Save</button>
  </form>
</div>

<app-child
  [people]="people"
  (editPerson)="editPerson($event)"
  (deleteConfirmation)="confirmDelete($event)"
></app-child>

<app-confirm-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [showCancelButton]="dialogAction !== null"
  (confirm)="handleConfirm($event)"
></app-confirm-dialog>
