h1 {
  color: cadetblue;
  background-color: aliceblue;
}
.active {
  background-color: green;
  border-color: yellow;
}
.no-active {
  background-color: red;
  border-color: blue;
}
.banana {
  background-color: rgb(223, 223, 34);
  border: 1px solid black;
}
