<div class="todo-container">
  <h1>To-Do List</h1>

  <form [formGroup]="userForm" (ngSubmit)="addTodo()">
    <div class="input-container">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <div
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
        class="text-danger"
      >
        Name is required.
      </div>
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
      />
      <div
        *ngIf="
          userForm.get('description')?.touched &&
          userForm.get('description')?.invalid
        "
        class="text-danger"
      >
        Description is required.
      </div>
      <button type="submit" [disabled]="userForm.invalid">Add Todo</button>
    </div>
  </form>

  <div *ngIf="showAddAlert" class="alert-message success">
    Successfully added to the to-do list!
  </div>

  <div *ngIf="showDeleteAlert" class="alert-message delete">
    Successfully deleted from the to-do list!
  </div>

  <ng-container *ngIf="todos.length > 0; else noTodos">
    <ul>
      <li *ngFor="let todo of todos">
        <ng-container *ngIf="editingTodo?.id !== todo.id; else editMode">
          <span class="todo-name">{{ todo.name }}</span>
          <span class="todo-description"> - {{ todo.description }}</span>
          <div class="action-buttons">
            <button (click)="startEdit(todo)">Edit</button>
            <button (click)="confirmDelete(todo.id)">Delete</button>
          </div>
        </ng-container>
        <ng-template #editMode>
          <input [(ngModel)]="editingTodo!.name" />
          <input [(ngModel)]="editingTodo!.description" />
          <div class="edit-buttons">
            <button
              (click)="saveEdit()"
              [disabled]="!editingTodo!.name || !editingTodo!.description"
            >
              Save
            </button>
            <button (click)="cancelEdit()">Cancel</button>
          </div>
        </ng-template>
      </li>
    </ul>
  </ng-container>

  <ng-template #noTodos>
    <p>No todos yet. Add some!</p>
  </ng-template>

  <app-confirm-dialog
    *ngIf="showConfirmDialog"
    (confirmed)="deleteTodo(confirmedDeleteId!)"
    (cancelled)="cancelDelete()"
  >
  </app-confirm-dialog>
</div>
