<div class="todo-container">
  <h1>To-Do List</h1>

  <div class="input-container">
    <input [(ngModel)]="newTodo.name" placeholder="Todo name" />
    <input [(ngModel)]="newTodo.description" placeholder="Todo description" />
    <button (click)="addTodo()">Add Todo</button>
  </div>

  <div *ngIf="showAddAlert" class="alert-message success">
    Successfully added to the to-do list!
  </div>

  <div *ngIf="showDeleteAlert" class="alert-message delete">
    Successfully deleted from the to-do list!
  </div>

  <ng-container *ngIf="todos.length > 0; else noTodos">
    <ul>
      <li *ngFor="let todo of todos">
        <ng-container *ngIf="editingTodo?.id !== todo.id; else editMode">
          <span class="todo-name">{{ todo.name }}</span>
          <span class="todo-description"> - {{ todo.description }}</span>
          <div class="action-buttons">
            <button (click)="startEdit(todo)">Edit</button>
            <button (click)="confirmDelete(todo.id)">Delete</button>
          </div>
        </ng-container>
        <ng-template #editMode>
          <input [(ngModel)]="editingTodo!.name" />
          <input [(ngModel)]="editingTodo!.description" />
          <div class="edit-buttons">
            <button (click)="saveEdit()">Save</button>
            <button (click)="cancelEdit()">Cancel</button>
          </div>
        </ng-template>
      </li>
    </ul>
  </ng-container>

  <ng-template #noTodos>
    <p>No todos yet. Add some!</p>
  </ng-template>

  <app-confirm-dialog
    *ngIf="showConfirmDialog"
    (confirmed)="deleteTodo(confirmedDeleteId!)"
    (cancelled)="cancelDelete()"
  >
  </app-confirm-dialog>
</div>
