/* Styles specific to the child component */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  thead {
    background-color: #4c6baf;
    color: white;

    th {
      padding: 12px;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;

      &:hover {
        background-color: #f4f4f4;
      }

      &.pale-red {
        background-color: #ffcccc;
      }

      td {
        padding: 12px;

        &:first-child {
          border-left: 1px solid #ddd;
        }

        &:last-child {
          border-right: 1px solid #ddd;
        }
      }

      td:last-child {
        text-align: left;

        .btn {
          padding: 8px 16px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: background-color 0.3s;

          &.btn-primary {
            background-color: #05378eb0;
            color: black;

            &:hover {
              background-color: darken(#05378eb0, 10%);
            }
          }

          &.btn-secondary {
            background-color: #bb1818;
            color: white;

            &:hover {
              background-color: darken(#bb1818, 10%);
            }
          }
        }
      }
    }
  }
}

.EDIT {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: palegoldenrod;
  &:hover {
    background-color: darken(palegoldenrod, 10%);
  }
}

.pale-red {
  background-color: #ffcccc; // Pale red color
}
