<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crave-Nest</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <img src="/cravenestlogo.jpg" alt="Crave Nest Logo" class="logo" />
          <div>
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"
              >HOME</a
            >
            <a [routerLink]="['/food']" routerLinkActive="router-link-active"
              >FOOD</a
            >
            <a [routerLink]="['/order']" routerLinkActive="router-link-active"
              >ORDER</a
            >
            <a [routerLink]="['/menu']" routerLinkActive="router-link-active"
              >MENUS</a
            >
            <a href="#gift-cards">GIFT CARDS</a>
            <a
              [routerLink]="['/bookings']"
              routerLinkActive="router-link-active"
              >BOOKINGS</a
            >
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"
              >ABOUT</a
            >
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
              >CONTACT</a
            >
          </div>

          <div class="profile">
            <!-- Profile menu shown only if the user is logged in -->
            <div *ngIf="isLoggedIn" id="profile-menu" class="profile-menu">
              <span id="username">{{ username }}</span>
              <button (click)="logout()" class="btn">Logout</button>
            </div>
            <!-- Login button shown only if the user is not logged in -->
            <a
              *ngIf="!isLoggedIn"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              >LOGIN</a
            >
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
