<div class="container">
  <header>
    <div class="logo">Business</div>
    <nav>
      <a href="#" *ngFor="let item of navItems">{{ item }}</a>
    </nav>
  </header>
  <div class="content">
    <div class="text-content">
      <h1>Corporate & Business Site Template By Ayro UI.</h1>
      <p>
        We are a digital agency that helps brands to achieve their business
        outcomes. We see technology as a tool to create amazing things.
      </p>
      <a href="#" class="cta-button">GET STARTED</a>
      <a href="#" class="watch-intro">Watch Intro</a>
    </div>
    <div class="image-content">
      <img src="assets/placeholder-image.jpg" alt="Business person" />
    </div>
  </div>
</div>
