<div class="signup-page">
  <div class="signup-container">
    <h1>Crave Nest</h1>
    <h2>Create Your Account</h2>

    <form [formGroup]="SignUpForm" (ngSubmit)="onSignUp()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          placeholder="Enter your name"
        />
        <div
          *ngIf="
            SignUpForm.get('name')?.invalid && SignUpForm.get('name')?.touched
          "
          class="error"
        >
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="emailId">Email</label>
        <input
          type="email"
          id="email"
          formControlName="emailId"
          class="form-control"
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            SignUpForm.get('email')?.invalid && SignUpForm.get('email')?.touched
          "
          class="error"
        >
          Valid email is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            SignUpForm.get('password')?.invalid &&
            SignUpForm.get('password')?.touched
          "
          class="error"
        >
          Password must be at least 6 characters long.
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="SignUpForm.invalid"
      >
        Sign Up
      </button>
    </form>
    <div class="additional-options">
      <button type="button" class="btn btn-link" (click)="navigateToLogin()">
        Already have an account? Login
      </button>
    </div>

    <div class="food-images"></div>
  </div>
</div>
